{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "ignore": ["**/__tests__", "\\.test\\.js", "**/dockerfile-generator", "**/cicd-workflow"]
}
